<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >     
<html>     
    <head>     
        <title>在线打包工具</title>     
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    </head>    
    <body>    
        <form name="form1" method="post" action="">
            <div style="width:500px; margin:50px auto;"> <input type="submit" name="button" value="开始打包" /></div>     
            <div style="width:500px; margin:auto; line-height:25px;">说明：点开始打包，之后，就是耐心等待打包完成了，根据网站文件多少，需要的时间可能会很长。打包完成之后，压缩包会存放在要打包的站点根目录下，以<span style='color:red;'>打包时间+不定长随机字符串+_zf.zip</span>这样命名，请登陆ftp后下载。</P>     
        </form>     
    </body>     
</html>