<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>{$seo['title']}测试版本</title>
  <meta name="keywords" content="{$seo['keywords']}" />
  <meta name="description" content="{$seo['description']}" />
  <link rel="stylesheet" href="__STATIC__/style/layui/css/layui.css">
  <link rel="stylesheet" href="{$tpl_static}css/index.css">
  <script src="__STATIC__/style/bootstrap/bootstrap-3.3.4.js"></script>
  <link rel="stylesheet" href="__STATIC__/style/bootstrap/bootstrap-3.3.4.css">
</head>