<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>子枫后台管理系统</title>
  <meta name="csrf-token" content="{{csrf_token()}}">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/style/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/system/style/admin.css" media="all">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <form onclick="return false;" class="info_tj">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
          <div class="layui-form-item">
            <input type="hidden" name="openid" value="{{$openid}}">
            <div class="layui-inline">
              <label class="layui-form-label">内容</label>
              <div class="layui-input-block">
                <input type="text" name="content" placeholder="请输入" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm" onclick='tijiao_data("ajax_action?type=send_simple_gzhmsg",0)'  >提交</button>
            </div>
          </div>
        </div>
      </form>
      <div class="layui-card-body">
        <table class="layui-table">
            <colgroup>
              <col width="30">
              <col width="60">
              <col width="60">
              <col width="50">
              <col width="50">
              <col width="50">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>ID</th>
                <th>openid</th>
                <th>event</th>
                <th>关键词</th>
                <th>状态</th>
                <th>发送内容</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              @foreach($list as $k=>$vo)
                <tr>
                  <td>{{$vo->id}}</td>
                  <td>{{$vo->openid}}</td>
                  <td>{{$vo->event}}</td>
                  <td>{{$vo->keyword}}</td>
                  <td>{{$vo->status}}</td>
                  <td>{{$vo->ctime}}</td>
                  <td>{{$vo->send_ids==''?$vo->send_content:$vo->send_ids}}</td>
                  
                </tr>
              @endforeach
            </tbody>
          </table>
      </div>
    </div>
  </div>
@include('admin.public.common_tool')
  <script src="__STATIC__/style/jquery-1.8.3.min.js"></script>  
  <script src="__STATIC__/style/layui/layui.js"></script>    
  <script src="__STATIC__/system/common.js"></script>  
  <script>
 layui.use([ 'table','element'], function(){
    var $ = layui.$
    ,form = layui.form
    ,element = layui.element
    ,table = layui.table;

    

  });
  </script>
</body>
</html>
