<?php if($act=='add'){ ?>
                <?php if($vo['type']=='layui-input'){ ?>
                  {$form_widget->form_input($vo['name'],$vo['key'],$vo['value'])|raw}    
                <?php }elseif($vo['type']=='layui-textarea'){ ?>
                        {$form_widget->form_textarea($vo['name'],$vo['key'],$vo['value'])|raw}   
                <?php }elseif($vo['type']=='album'){ ?>
                        {$form_widget->upload_album($vo['name'],$vo['key'],$vo['value'])|raw}   
                <?php }elseif($vo['type']=='layui-time'){ ?>
                        {$form_widget->form_time($vo['name'],$vo['key'],$vo['value'])|raw}   
                <?php }elseif($vo['type']=='layui-pic'){ ?>
                        {$form_widget->upload_pic($vo['name'],$vo['key'],$vo['value'])|raw}   
                <?php }elseif($vo['type']=='layui-file'){ ?>
                        {$form_widget->upload_file($vo['name'],$vo['key'],$vo['value'])|raw}   
                <?php }elseif($vo['type']=='layui-checkbox'){ ?>
                 <!--  <div class="layui-card-header">{$vo['name']}</div>
                  <div class="layui-card-body layui-row layui-col-space8 ">
                    <div class="layui-col-md12 layui-form-item">
                      <div class="layui-input-inline" style="width: 100%">
                          <?php if($vo['value']!=''){  $_temp_dx[$vo['value']] = explode(',',$vo['value']);  foreach($_temp_dx[$vo['value']] as $k1=>$vo1){ ?>
                          <input type="checkbox" name="zf_list_{$vo['key']}[]" lay-skin="primary" title="{$vo1}" value="{$vo1}" 
                          <?php 
                          if($data_res[$vo['key']]){
                            $_temp_check = explode(',',$data_res[$vo['key']]);
                            echo in_array($vo1,$_temp_check)?'checked':'';                        
                          }
                          ?>
                          />
                          <?php }}else{ echo "请在模板设置中设置参数  参数形式   参数1,参数2 "; } ?>
                        </div>
                    </div>
                  </div>
      <script>
      layui.use(['form'], function(){
      var $ = layui.$
      ,form = layui.form
      ,element = layui.element;
      });
      </script> -->
                <?php }elseif($vo['type']=='layui-switch'){ ?>
                  <div class="layui-card-header">{$vo['name']}</div>
                  <div class="layui-card-body layui-row layui-col-space8 ">
                    <div class="layui-col-md12 layui-form-item">
                      <div class="layui-input-inline layui-form" style="width: 100%">
                        <input type="checkbox" name="{$vo['key']}" lay-skin="switch" lay-text="是|否" <?php if(isset($data_res[$vo['key']]) && $data_res[$vo['key']]==1){ echo 'checked';} else{ echo '';} ?>  lay-filter="{$vo['key']}_change"   >
                      </div>
                    </div>
                  </div>
      <script>
      layui.use(['form','element'], function(){
      var $ = layui.$
      ,form = layui.form
      ,element = layui.element;
        form.on("switch({$vo['key']}_change)", function(data){
          $(data.othis).siblings('input').remove();
          $(data.othis).after('<input type="hidden" name='+ $(data.elem).attr('name') +' value='+ (data.elem.checked ? '1' : '0') +'>');
        });
      });
      </script>
                <?php }elseif($vo['type']=='layui-radio'){ ?>
                  <div class="layui-card-header">{$vo['name']}</div>
                  <div class="layui-card-body layui-row layui-col-space8 ">
                    <div class="layui-col-md12 layui-form-item">
                      <div class="layui-input-inline layui-form" >
                        <input type="radio" name="{$vo['key']}" value="1" title="是"  checked=""  ><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>是</div></div>
                        <input type="radio" name="{$vo['key']}" value="0" title="否"  ><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>否</div></div>
                      </div>
                    </div>
                  </div>
      <script>
      layui.use(['form','element'], function(){
      var $ = layui.$
      ,form = layui.form
      ,element = layui.element;
        
      });
      </script>
                <?php }elseif($vo['type']=='ueditor'){ ?>
                        {$form_widget->form_ueditor($vo['name'],$vo['key'],$vo['value'])|raw}   
                
                <?php } ?>

<?php }else{ ?>

      <?php if($vo['type']=='layui-input'){ ?>
                {$form_widget->form_input($vo['name'],$vo['key'],$data_res[$vo['key']])|raw}    
              <?php }elseif($vo['type']=='layui-textarea'){ ?>
                      {$form_widget->form_textarea($vo['name'],$vo['key'],$data_res[$vo['key']])|raw}    
              <?php }elseif($vo['type']=='album'){ $_temp_album = $vo['key'].'[]'; ?>

                      {$form_widget->upload_album($vo['name'],$_temp_album,$data_res[$vo['key']])|raw}    
              <?php }elseif($vo['type']=='layui-time'){ ?>
                      {$form_widget->form_time($vo['name'],$vo['key'],date("Y-m-d H:i:s",$data_res[$vo['key']]))|raw}    
              <?php }elseif($vo['type']=='layui-pic'){ ?>
                      {$form_widget->upload_pic($vo['name'],$vo['key'],$data_res[$vo['key']])|raw}    
              <?php }elseif($vo['type']=='layui-file'){ ?>
                      {$form_widget->upload_file($vo['name'],$vo['key'],$data_res[$vo['key']])|raw}    
              <?php }elseif($vo['type']=='layui-checkbox'){ ?>
                <!-- <div class="layui-card-header">{$vo['name']}</div>
                <div class="layui-card-body layui-row layui-col-space8 ">
                  <div class="layui-col-md12 layui-form-item">
                    <div class="layui-input-inline" style="width: 100%">
                        <?php if($vo['value']!=''){  $_temp_dx[$vo['value']] = explode(',',$vo['value']);  foreach($_temp_dx[$vo['value']] as $k1=>$vo1){ ?>
                        <input type="checkbox" name="zf_list_{$vo['key']}[]" lay-skin="primary" title="{$vo1}" value="{$vo1}" 
                        <?php 
                        if($data_res[$vo['key']]){
                          $_temp_check = explode(',',$data_res[$vo['key']]);
                          echo in_array($vo1,$_temp_check)?'checked':'';                        
                        }
                        ?>
                        />
                        <?php }}else{ echo "请在模板设置中设置参数  参数形式   参数1,参数2 "; } ?>
                      </div>
                  </div>
                </div>
    <script>
    layui.use(['form'], function(){
    var $ = layui.$
    ,form = layui.form
    ,element = layui.element;
    });
    </script> -->
              <?php }elseif($vo['type']=='layui-switch'){ ?>
                <div class="layui-card-header">{$vo['name']}</div>
                <div class="layui-card-body layui-row layui-col-space8 ">
                  <div class="layui-col-md12 layui-form-item">
                    <div class="layui-input-inline layui-form" style="width: 100%">
                      <input type="checkbox" name="{$vo['key']}" lay-skin="switch" lay-text="是|否" <?php echo isset($data_res) && $data_res[$vo['key']]==1?'checked':''; ?>  lay-filter="{$vo['key']}_change"   >
                    </div>
                  </div>
                </div>
    <script>
    layui.use(['form','element'], function(){
    var $ = layui.$
    ,form = layui.form
    ,element = layui.element;
      form.on("switch({$vo['key']}_change)", function(data){
        $(data.othis).siblings('input').remove();
        $(data.othis).after('<input type="hidden" name='+ $(data.elem).attr('name') +' value='+ (data.elem.checked ? '1' : '0') +'>');
      });
    });
    </script>
              <?php }elseif($vo['type']=='layui-radio'){ ?>
                <div class="layui-card-header">{$vo['name']}</div>
                <div class="layui-card-body layui-row layui-col-space8 ">
                  <div class="layui-col-md12 layui-form-item">
                    <div class="layui-input-inline layui-form" >
                      <input type="radio" name="{$vo['key']}" value="1" title="是" {$data_res[$vo['key']]==1?'checked':''}  ><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>是</div></div>
                      <input type="radio" name="{$vo['key']}" value="0" title="否" {$data_res[$vo['key']]==0?'checked':''} ><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>否</div></div>
                    </div>
                  </div>
                </div>
    <script>
    layui.use(['form','element'], function(){
    var $ = layui.$
    ,form = layui.form
    ,element = layui.element;
      
    });
    </script>
              <?php }elseif($vo['type']=='ueditor'){ ?>
                      {$form_widget->form_ueditor($vo['name'],$vo['key'],$data_res[$vo['key']])|raw}    

              <?php } ?>


<?php } ?>

       