{include file="a1/public/header"}
<div class="container">
    <ol class="breadcrumb">
        <li class="active"><a href="/" title="">网站首页</a> </li>
        <li class="active">
            <a href="{:url('cate/listt',['cid'=>$cate_res['cid']])}" title="{$cate_res['name']}">{$cate_res['name']}</a>
        </li>
		<li>{$content['title']}</li>
    </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-8">
            <p class="text-center " style="font-size: 25px;">{$content['title']}</p>
            <p class="text-center">
                <em class="em-margin">发布时间：{$content['ctime']|date='Y-m-d H:i:s'} </em> <em class="em-margin">编辑：{$content['author']} </em> <em class="em-margin">查看次数：{$content['hits']}</em>
            </p>
            <!--内容--->
            <div style="word-break:break-all; font-size:16px; overflow:hidden">{$content['content']|raw}</div>
            <!--内容 end--->
            <div class="container" style="margin:15px 0 25px 0px;font-size: 16px;">
            	<p >出处：<a href="{$web_config['web']['site_url']}" title="{$web_config['web']['site_name']}">{$web_config['web']['site_name']}</a> <p>
                <p >网址：{$web_config['web']['site_url']} <p>
                <p style="color:#33cc99">您的支持是对博主最大的鼓励，感谢您的认真阅读。欢迎转载，但请保留该声明。</p>				
            </div>
            <div class="container" style="font-size: 16px;">
                <p>{$prev|raw}</p> 
                <p>{$next|raw}</p>
                <hr/>
                <!-- <blockquote>
                    <p style="color:#33cc99">猜您喜欢</p>
                </blockquote>
                <ol >
                    <li>
                        <a class="a-color" href="%E4%BD%BF%E7%94%A8$watch%E4%B8%8E$filter%E8%BF%87%E6%BB%A4%E5%99%A8%E5%AE%9E%E7%8E%B0%E6%95%B0%E6%8D%AE%E7%AD%9B%E9%80%89(%E5%B0%8F%E6%A1%88%E4%BE%8B).html" title="使用$watch与$filter过滤器实现数据筛选(小案例)">使用$watch与$filter过滤器实现数据筛选(小案例)</a>
                    </li>           
                </ol> -->
           </div>

        </div><!--文章内容 end-->
        <div class="col-sm-6 col-md-4">
            <!--search start-->
            <div class="panel panel-default">
               <!-- <div class="panel-heading font-size">搜索<span style="color: #33cc99;">文章</span></div>-->
                <div class="panel-body">
                    <form class="form-inline s22" action="{:url('cate/search')}" method="get">
                        <div class="row">
                            <div class="col-xs-8">
                                <input type="text" name="keyword" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-info">全站搜索</button>
                            </div>
                    </form>
                </div>
            </div> 
            <!--最新文章-->
            <div class="panel panel-default">
                <div class="panel-heading font-size">推荐<span style="color: #33cc99;">文章</span></div>
                <div class="panel-body">
                    <ul class="ul-li">
                        <?php foreach($post_sort as $k=>$vo){ ?>
                        <li><a class="a-color" href="{:url('cate/detail',['id'=>$vo['id']])}"> {$vo['title']}</a></li>
                        <?php } ?>

                    </ul>
                </div>
            </div> 
            <!--点击排行-->
            <div class="panel panel-default">
                <div class="panel-heading font-size">点击<span style="color: #00ccff;">排行</span></div>
                <div class="panel-body">
                    <ol class="ul-li">
                        <?php foreach($post_hits as $k=>$vo){ ?>
                        <li><a href="{:url('cate/detail',['id'=>$vo['id']])}" class="a-color" title=" {$vo['title']}">  {$vo['title']}</a></li>  
                        <?php } ?>
                    </ol>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading font-size">友情<span style="color: #ff3300;">链接</span></div>
                <div class="list-group">
                    <?php foreach($links as $k=>$vo){ ?>
                        <a href="{$vo['url']}" class="list-group-item" title="{$vo['name']}" target="_blank">{$vo['name']}</a>
                    <?php } ?>
                </div>
            </div>
            <!--返回顶部 start-->
            <div class=" container last">
                <span> 顶部 </span>
            </div>
            <!--返回顶部 end-->
        </div>
    </div>
</div>

{include file="a1/public/footer"}
