{include file="def/public/header"}

<body>
  <!-- nav部分 -->
  <div class="nav">
{include file="def/public/menu"}
  </div>
  <!-- banner部分 -->
  <div class="banner case">
    <div class="title">
      <p>{$cate_res['name']}</p>
      <p class="en">{$cate_res['ename']}</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-case">
    <div class="layui-container">
      <div class="layui-row">
        <?php foreach($list as $k=>$vo){ ?>
        <div class="layui-inline content">
          <div class="layui-inline case-img"><img src="{$vo['pic']}"></div>
          <p class="lable">{$vo['title']}</p>
          <p>{$vo['summary']}</p>
        </div>
        <?php } ?>
        
      </div>
      <div style="text-align: center">{$page|raw}</div>
    </div>
  </div>
{include file="def/public/footer"}
  
<script src="__STATIC__/style/layui/layui.js"></script>

<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: '{$tpl_static}/js/' 
  }).use('firm'); 
</script>
</body>
</html>