<!DOCTYPE html>
<html>
<head>
    <title> 系统安装 - Powered by 子枫后台管理系统(TpFast系列)</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="__STATIC__/style/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/system/style/install.css">
    <script src="__STATIC__/style/layui/layui.js"></script>
    <script>
    // layui.config({
    //   base: 'static/admin/js/',
    //   version: '{:time()}'
    // }).use('global');
    </script>
</head>
<body>
<div class="header">
    <h1>感谢您选择 子枫后台管理系统(TpFast系列)</h1>
</div>