

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{$web_config.version.ver_name}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/style/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/system/style/admin.css" media="all">
  <link rel="stylesheet" href="__STATIC__/system/style/template.css" media="all">
</head>
<body>
<div class="layui-fluid layadmin-cmdlist-fluid">
    <div style="padding-bottom: 10px;">
        <a type="button" class="layui-btn" href="/upload/template.zip" download="template.zip" >下载模板参考文件</a>
    </div>
  <div class="layui-row layui-col-space30">
    {volist name='list' id='vo'}
    <?php if($vo['ok']==1){ ?>
      <div class="layui-col-md3 layui-col-sm4">
          <div class="cmdlist-container">
              <img src="{$vo['pic']}" style="height: 160px">
              <div class="cmdlist-text">
                <div class="price">
                  <span>模板名:{$vo['name']} {$vo['version']}</span><br>
                  <span>作者:{$vo['author']}</span><br>
                  <span>创建时间:{$vo['ctime']}</span> <br>
                  <span>路径:{$vo['path']}</span> 
                  <span class="flow">
                    <i class="layui-icon layui-icon-rate btn_edit" item="{$vo['dir_name']}" style="color: <?php echo $tpl_name==$vo['dir_name']?'#1E9FFF':''; ?>;" ></i>
                  </span>
                </div>  
              </div>
          </div>
      </div>
      <?php }else{ ?>
      <div class="layui-col-md3 layui-col-sm4">
          <div class="cmdlist-container">
              <div class="cmdlist-text">
                <div class="price">
                  <span style="color: red;">代码格式不正确或已破损</span> <br>
                  <span>路径:{$vo['path']}</span> 
                </div>  
              </div>
          </div>
      </div>
      <?php } ?>
    {/volist}
    
    
    
  </div>
</div>
  <script src="__STATIC__/style/layui/layui.js"></script>    
  <script src="__STATIC__/system/common.js"></script> 
  <script>
  layui.config({
    base: '__STATIC__/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index']);
 layui.use(['laypage', 'layer','upload'], function(){
    var $ = layui.$ 
    ,laypage = layui.laypage
    ,layer = layui.layer
    ,element = layui.element
    ,upload = layui.upload;
    

   $('.btn_edit').on("click",function(){
      var value = $(this).attr('item');
      var key = 'zf_tpl_suffix'
      $.ajax({
        type:'post',
        url:"{:url('common/config_edit')}",
        data:{key:key,value:value},
        dataType:'json',
        success:function(res){
          console.log(res)
          if(res.result==1){
            layer.msg(res.msg, {icon: 1});
            layer.close()
            setTimeout(function() {
              window.location.reload();
            }, 2000);
          }else{
            layer.msg(res.msg, {icon: 2});
          }   
        }
      })
   })



  
  
});



  </script>
</body>
</html>