<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{$web_config.version.ver_name}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/style/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/system/style/admin.css" media="all">
  <link rel="stylesheet" href="__STATIC__/system/style/login.css" media="all">
  <link rel="stylesheet" href="__STATIC__/system/style/lrtk.css" media="all">
</head>
<body>
  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;" style="margin-top:-10px">
    <div class="layui-row layui-col-space15" style="margin:0;margin-top: -70px" >
      <div class="layui-col-sm3"></div>
      <div class="layui-col-sm6" style="height:358px; ">
          <div id="login">
            <div class="wrapper">
                <div class="login">
                    <form class="container offset1 loginform info_tj" >
                        <div class="pad">
                            <div class="control-group">
                              <div class="controls">
                                  <input id="domain_auth" type="text"  placeholder="当前授权域名" tabindex="1" autofocus="autofocus" class="form-control input-medium" value="{$_SERVER['SERVER_NAME']}" readonly="">
                              </div>
                            </div>
                            <div class="control-group">
                              <div class="controls">
                                  <input  type="text" name="email" placeholder="请输入你的邮箱" tabindex="1" autofocus="autofocus" class="form-control input-medium" value="{$data['email']}">
                              </div>
                            </div>
                            <div class="control-group">
                              <div class="controls">
                                  <input  type="text" name="key" placeholder="请输入你的key" tabindex="1" autofocus="autofocus" class="form-control input-medium" value="{$data['key']}">
                              </div>
                            </div>
                            <div class="control-group">
                              <div class="controls">
                                  <textarea class="layui-textarea" name="sc" placeholder="请输入你的秘钥sc">{$data['sc']}</textarea>
                              </div>
                            </div>
                        </div>
                        <div style="text-align: center;margin-bottom: 20px;">
                          <span class="layui-btn  scan_btn" >保存</span>
                          <a href="http://authorize.zf.90ckm.com/" target="_blank" class="layui-btn layui-btn-danger ">点击获取授权</a>
                        </div>
                        

                    </form>
                </div>
            </div>
            <script src="__STATIC__/style/jquery-1.8.3.min.js"></script>
            <script>
            $(function() {
                $('#login #password').focus(function() {
                    $('#owl-login').addClass('password');
                }).blur(function() {
                    $('#owl-login').removeClass('password');
                });
            });
            </script>
          </div>
      </div> 
      <div class="layui-col-sm3"></div>
    </div>
    <div class="layui-trans layadmin-user-login-footer">
    </div>
  </div>
  <script src="__STATIC__/style/layer/layer.js"></script>  
  <script>
    layer.tips('这是当前授权域名', '#domain_auth', {guide: 1, time: 10000});
    $('.scan_btn').on('click',function(){
        var data = $(".info_tj input,.info_tj select,.info_tj textarea,.info_tj radio").serialize();      
        $.ajax({
          url:"?t=save",
          data:data,
          dataType:'json',
          type:"POST",
          success:function(res){
            if(res.result==1){
              console.log(res)
              layer.msg(res.msg)
              setTimeout(function(){
                history.back(-1)
              },2000);
            }else{
              layer.msg(res.msg)
            }
          }
        })
    })
    
   
     
  </script>
</body>
</html>
