<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{$web_config.version.ver_name}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/style/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/system/style/admin.css" media="all">
  <link rel="stylesheet" href="__STATIC__/system/style/login.css" media="all">
  <link rel="stylesheet" href="__STATIC__/system/style/lrtk.css" media="all">
</head>
<body>
  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;" style="margin-top:-10px">
    <div class="layui-row layui-col-space15" style="margin:0;margin-top: -70px" >
      <div class="layui-col-sm3"></div>
      <div class="layui-col-sm6" style="height:358px; ">
          
          <!-- 代码 开始 -->
          <div id="login">
            <div class="wrapper">
                <div class="login">
                    <form class="container offset1 loginform" onclick="return false">
                        <div id="owl-login">
                            <div class="hand"></div>
                            <div class="hand hand-r"></div>
                            <div class="arms">
                                <div class="arm"></div>
                                <div class="arm arm-r"></div>
                            </div>
                        </div>
                        <div class="pad">
                            <div class="control-group">
                                <div class="controls">
                                    <label for="email" class=" "></label>
                                    <input id="email" type="text" name="email" placeholder="账号" tabindex="1" autofocus="autofocus" class="form-control input-medium form_name">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <label for="password" class=""></label>
                                    <input id="password" type="password" name="password" placeholder="Password" tabindex="2" class="form-control input-medium form_pwd">
                                </div>
                            </div>
                            <div class="control-group">
                              <div class="controls">
                                  <label for="email" class=""></label>
                                  <input id="google_code" type="text" name="google_code" placeholder="谷歌验证码,未开启可省略" tabindex="1" autofocus="autofocus" class="form-control input-medium form_name">
                              </div>
                            </div>
                        </div>
                        <button class="layui-btn layui-btn-fluid" id="login_r" >登 入</button>
                    </form>
                </div>
            </div>
            <script src="__STATIC__/style/jquery-1.8.3.min.js"></script>
            <script>
            $(function() {
                $('#login #password').focus(function() {
                    $('#owl-login').addClass('password');
                }).blur(function() {
                    $('#owl-login').removeClass('password');
                });
            });
            </script>
          </div>
          <!-- 代码 结束 -->

          <!--  -->
      </div>
      <div class="layui-col-sm3"></div>
      
    </div>

    
    <div class="layui-trans layadmin-user-login-footer">
      <p>© 2018 <a href="http://bbs.wangmingchang.com/forum.php?mod=forumdisplay&fid=77" target="_blank">在线获取</a></p>
      <p>
          <span><a href="https://www.wangmingchang.com" target="_blank">王明昌博客</a></span>
          <span><a href="http://bbs.wangmingchang.com" target="_blank">Mc技术论坛</a></span>
      </p>
    </div>
  </div>
  <script src="__STATIC__/style/layer/layer.js"></script>  
  <script>
    layer.open({
      type: 2,
      title: '后台赞赏列表',
      closeBtn: 1, //不显示关闭按钮
      shade: [0.1, '#393D49'],
      maxmin:false,
      area: ['340px', '700px'],
      offset: 'rb', //右下角弹出
      anim: 2,
      shadeClose: true,
      content: ['//mctool.wangmingchang.com/index/jspay/dashang', 'yes'], //iframe的url，no代表不显示滚动条
    });
     $("#login_r").on("click",function(){
        var name = $(".form_name").val();
        var pwd = $(".form_pwd").val();
        var google_code = $("#google_code").val();

      //异步获取信息
        var url = "{:url('login/login')}";
        var data = {name:name,pwd:pwd,google_code:google_code};
        $.ajax({
          url:url,
          data:data,
          dataType:'json',
          type:"POST",
          success:function(res){
            if(res.result==1){
              layer.msg('登入成功', {
                offset: '15px'
                ,icon: 1
                ,time: 1000
              }, function(){
                location.href = "{:url('index/index')}"; //后台主页
              });
            }else{
              layer.msg(res.msg,{icon:2})

            }
            
          }
        })
      })
  </script>
</body>
</html>
<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://tongji.wangmingchang.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '8']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Matomo Code -->